html body {
	height: 100%;
	width: 100%;
}
body {
	padding-top: 70px;
	/* padding-bottom: 70px; */
}

p {
	text-align: justify;
}

.profile-text {
	height: 250px;
	text-overflow: ellipsis;
}

.big-font {
	font-size: 3rem;
}

blockquote {
	padding: 0 100px;
}

footer {
	border-top: 1px solid #f2f2f2;
	background-color: aliceblue;
}

.tool-list {
	border: 1px solid #f2f2f2;
}

section {
	padding-bottom: 10px;
}

.user-text {
	height: 100px;
	text-overflow: ellipsis;
}